In [ ]:
from sklearn import datasets
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection  import KFold
from sklearn.model_selection  import GridSearchCV
from sklearn.svm import SVC
import numpy as np

newsgroups = datasets.fetch_20newsgroups(
                    subset='all', 
                    categories=['alt.atheism', 'sci.space']
             )



vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(newsgroups.data)
Y = newsgroups.target

grid = {'C': np.power(10.0, np.arange(-5, 6))}
cv = KFold(n_splits=5, shuffle=True, random_state=241)
clf = SVC(kernel='linear', random_state=241)
gs = GridSearchCV(clf, grid, scoring='accuracy', cv=cv)
gs.fit(X, Y)

In [2]:
clf_1 = SVC(C=1.0, kernel='linear', random_state=241)
clf_1.fit(X, Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=241, shrinking=True,
  tol=0.001, verbose=False)

In [8]:
print(clf_1.coef_.toarray())
print(type(clf_1.coef_.toarray()))

[[ 0.29258057 -0.12314757  0.         ...,  0.01972862  0.05831336
  -0.00297347]]
<class 'numpy.ndarray'>

In [9]:
import pandas as pd
coef = pd.DataFrame(clf_1.coef_.toarray())

In [ ]:
coef = coef.transpose()
coef.append(pd.DataFrame(list(range(0,28382))))

In [10]:
print(coef)

      0         1      2      3      4         5      6         7      \
0  0.292581 -0.123148    0.0    0.0    0.0  0.012755    0.0  0.003358

      8         9        ...     28372     28373     28374     28375  \
0 -0.061856 -0.027968    ...       0.0  0.005256 -0.159178  0.009864

      28376     28377     28378     28379     28380     28381
0  0.009864  0.009864  0.009864  0.019729  0.058313 -0.002973

[1 rows x 28382 columns]

In [ ]:
pd.DataFrame(list(range(0,28382)))

In [73]:
myWords3 = pd.DataFrame.from_records([("ssss", 0)])
feature_mapping = vectorizer.get_feature_names()

for i in range(0,28):
    print('fm = ', feature_mapping[i], 'coef = ', coef[i].values[0])
    print('**********************')
    print (pd.DataFrame.from_records([(feature_mapping[i], coef[i].values[0])]))
    print('----------------------')
    myWords3.append(pd.DataFrame.from_records([(feature_mapping[i], coef[i].values[0])]))

fm =  00 coef =  0.292580573333
**********************
    0         1
0  00  0.292581
----------------------
fm =  000 coef =  -0.123147574237
**********************
     0         1
0  000 -0.123148
----------------------
fm =  0000 coef =  0.0
**********************
      0    1
0  0000  0.0
----------------------
fm =  00000 coef =  0.0
**********************
       0    1
0  00000  0.0
----------------------
fm =  000000 coef =  0.0
**********************
        0    1
0  000000  0.0
----------------------
fm =  000021 coef =  0.0127549987497
**********************
        0         1
0  000021  0.012755
----------------------
fm =  000050 coef =  0.0
**********************
        0    1
0  000050  0.0
----------------------
fm =  000062david42 coef =  0.00335804683356
**********************
               0         1
0  000062david42  0.003358
----------------------
fm =  000406 coef =  -0.0618558951031
**********************
        0         1
0  000406 -0.061856
----------------------
fm =  000410 coef =  -0.0279683090781
**********************
        0         1
0  000410 -0.027968
----------------------
fm =  00041032 coef =  0.0
**********************
          0    1
0  00041032  0.0
----------------------
fm =  0004136 coef =  0.0
**********************
         0    1
0  0004136  0.0
----------------------
fm =  00041555 coef =  0.0
**********************
          0    1
0  00041555  0.0
----------------------
fm =  0004244402 coef =  0.0
**********************
            0    1
0  0004244402  0.0
----------------------
fm =  0004246 coef =  0.0
**********************
         0    1
0  0004246  0.0
----------------------
fm =  00043819 coef =  0.0
**********************
          0    1
0  00043819  0.0
----------------------
fm =  0004422 coef =  0.0
**********************
         0    1
0  0004422  0.0
----------------------
fm =  00044513 coef =  0.0
**********************
          0    1
0  00044513  0.0
----------------------
fm =  00044808 coef =  0.0
**********************
          0    1
0  00044808  0.0
----------------------
fm =  00044939 coef =  0.0
**********************
          0    1
0  00044939  0.0
----------------------
fm =  0004651657 coef =  0.0
**********************
            0    1
0  0004651657  0.0
----------------------
fm =  0004847546 coef =  0.0
**********************
            0    1
0  0004847546  0.0
----------------------
fm =  0004988 coef =  0.0
**********************
         0    1
0  0004988  0.0
----------------------
fm =  0005 coef =  0.0811214841299
**********************
      0         1
0  0005  0.081121
----------------------
fm =  0005169 coef =  0.0
**********************
         0    1
0  0005169  0.0
----------------------
fm =  0008512 coef =  0.0
**********************
         0    1
0  0008512  0.0
----------------------
fm =  00090711 coef =  0.0
**********************
          0    1
0  00090711  0.0
----------------------
fm =  000th coef =  0.0
**********************
       0    1
0  000th  0.0
----------------------

In [75]:
myWords3

      0  1
0  ssss  0

In [78]:
print(coef.values)

[[ 0.29258057 -0.12314757  0.         ...,  0.01972862  0.05831336
  -0.00297347]]

In [107]:
fm = pd.DataFrame(feature_mapping)
new_coef = pd.DataFrame(coef).transpose()

In [99]:
new_coef

              0
0      0.292581
1     -0.123148
2      0.000000
3      0.000000
4      0.000000
5      0.012755
6      0.000000
7      0.003358
8     -0.061856
9     -0.027968
10     0.000000
11     0.000000
12     0.000000
13     0.000000
14     0.000000
15     0.000000
16     0.000000
17     0.000000
18     0.000000
19     0.000000
20     0.000000
21     0.000000
22     0.000000
23     0.081121
24     0.000000
25     0.000000
26     0.000000
27     0.000000
28     0.000000
29     0.000000
...         ...
28352  0.073748
28353  0.019729
28354 -0.020719
28355  0.000000
28356  0.000000
28357  0.128594
28358  0.028639
28359  0.017826
28360  0.000000
28361  0.365378
28362  0.234405
28363  0.007283
28364  0.000000
28365 -0.072639
28366  0.019729
28367  0.000000
28368  0.000000
28369  0.000000
28370  0.000000
28371 -0.061752
28372  0.000000
28373  0.005256
28374 -0.159178
28375  0.009864
28376  0.009864
28377  0.009864
28378  0.009864
28379  0.019729
28380  0.058313
28381 -0.002973

[28382 rows x 1 columns]

In [113]:
fm

                   0      coef     coef2
0                 00  0.292581  0.292581
1                000 -0.123148  0.123148
2               0000  0.000000  0.000000
3              00000  0.000000  0.000000
4             000000  0.000000  0.000000
5             000021  0.012755  0.012755
6             000050  0.000000  0.000000
7      000062david42  0.003358  0.003358
8             000406 -0.061856  0.061856
9             000410 -0.027968  0.027968
10          00041032  0.000000  0.000000
11           0004136  0.000000  0.000000
12          00041555  0.000000  0.000000
13        0004244402  0.000000  0.000000
14           0004246  0.000000  0.000000
15          00043819  0.000000  0.000000
16           0004422  0.000000  0.000000
17          00044513  0.000000  0.000000
18          00044808  0.000000  0.000000
19          00044939  0.000000  0.000000
20        0004651657  0.000000  0.000000
21        0004847546  0.000000  0.000000
22           0004988  0.000000  0.000000
23              0005  0.081121  0.081121
24           0005169  0.000000  0.000000
25           0008512  0.000000  0.000000
26          00090711  0.000000  0.000000
27             000th  0.000000  0.000000
28            001125  0.000000  0.000000
29           0011265  0.000000  0.000000
...              ...       ...       ...
28352       zodiacal  0.073748  0.073748
28353      zogeheten  0.019729  0.019729
28354      zokwendle -0.020719  0.020719
28355         zombie  0.000000  0.000000
28356           zond  0.000000  0.000000
28357           zone  0.128594  0.128594
28358          zones  0.028639  0.028639
28359         zoning  0.017826  0.017826
28360         zonker  0.000000  0.000000
28361            zoo  0.365378  0.365378
28362        zoology  0.234405  0.234405
28363          zowie  0.007283  0.007283
28364         zubrin  0.000000  0.000000
28365           zues -0.072639  0.072639
28366         zullen  0.019729  0.019729
28367           zulu  0.000000  0.000000
28368         zumder  0.000000  0.000000
28369            zur  0.000000  0.000000
28370        zurbrin  0.000000  0.000000
28371          zurlo -0.061752  0.061752
28372            zus  0.000000  0.000000
28373        zvezdny  0.005256  0.005256
28374         zvonko -0.159178  0.159178
28375  zwaartepunten  0.009864  0.009864
28376           zwak  0.009864  0.009864
28377         zwakke  0.009864  0.009864
28378          zware  0.009864  0.009864
28379         zwarte  0.019729  0.019729
28380          zwork  0.058313  0.058313
28381         zyklon -0.002973  0.002973

[28382 rows x 3 columns]

In [109]:
fm.insert(1,'coef',new_coef)

In [112]:
fm["coef2"] = fm["coef"].apply(lambda x: abs(x))

In [121]:
fm.sort_values("coef2",ascending =False).iloc[0:10, 0].sort_values()

5088      atheism
5093     atheists
5776        bible
12871         god
15606       keith
17802        moon
21850    religion
22936         sci
23673         sky
24019       space
Name: 0, dtype: object